<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RAG QA System</title>
  <link rel="stylesheet" href="/static/style.css">
  <style>
    body { font-family: sans-serif; max-width: 800px; margin: 2rem auto; }
    textarea { width: 100%; height: 100px; }
    .chunk { background: #f0f0f0; padding: 0.5rem; margin: 0.5rem 0; border-radius: 5px; }
  </style>
</head>
<body>
  <h1>RAG-based QA</h1>
  <h2>Select Headings</h2>
    
    <label for="heading_1">Heading_1:</label>
    <select id="heading_1">
      <option value="">-- Select Heading 1 --</option>
      <option value="People of France">People of France</option>
      <option value="Settlement patterns">Settlement patterns</option>
      <option value="Demographic trends">Demographic trends</option>
    </select>

    <label for="heading_2">Heading_2:</label>
    <select id="heading_2">
      <option value="">-- Select Heading 2 --</option>
      <option value="Ethnic groups">Ethnic groups</option>
      <option value="Languages">Languages</option>
      <option value="Religion of France">Religion of France</option>
      <option value=" Rural landscape and settlement "> Rural landscape and settlement </option>
      <option value="Bocage">Bocage</option>
      <option value="Open-field">Open-field</option>
      <option value="Mediterranean">Mediterranean</option>
      <option value="Mountain">Mountain</option>
      <option value="Postwar transformation">Postwar transformation</option>
      <option value="Urban settlement">Urban settlement</option>
      <option value="Population history">Population history</option>
      <option value="Emigration">Emigration</option>
    </select>
  <textarea id="question" placeholder="Ask a question..."></textarea>
  <br>
  <button onclick="ask()">Ask</button>

  <h2>Retrieved Chunks:</h2>
  <div id="chunks"></div>

  <h2>Generated Answer:</h2>
  <div id="answer" style="white-space: pre-wrap; background:#e9ffe9; padding: 1rem; border-radius: 6px;"></div>
  <script src="/static/script.js"></script>
</body>
</html>
